<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tuisongbao.engine.demo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />
    <!-- 网络连接. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 接收到新的推送消息，需要唤醒应用程序的进程 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- push 权限 start -->
    <!-- 推送宝需要根据以下信息产生设备的唯一识别码 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- 开机启动和读取网络状态，使得Service运行稳定 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- 允许收到通知时设置振动 -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- 点击消息时打开应用 -->
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- 用于记录日志 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 可选，建议配置，推送宝会跟踪用户的地理位置，开发者则可以进行基于区域的推送 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- push 权限 end -->

    <!-- 语音消息和视频消息 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECORD_VIDEO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.microphone"/>
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <permission
        android:name="com.tuisongbao.android.engine.demo.permission.PUSH"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.tuisongbao.android.engine.demo.permission.PUSH" />

    <application
        android:name="com.tuisongbao.engine.demo.DemoApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.tuisongbao.engine.demo.chat.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         <activity
            android:name="com.tuisongbao.engine.demo.pubsub.PubSubActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.tuisongbao.engine.demo.chat.DashboardActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.tuisongbao.engine.demo.chat.ChatGroupsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.tuisongbao.engine.demo.chat.ChatConversationActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.tuisongbao.engine.demo.chat.ChatGroupCreateActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.tuisongbao.engine.demo.chat.ChatGroupMemberActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.tuisongbao.engine.demo.chat.ChatGroupMemberAddActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name="com.tuisongbao.engine.demo.chat.activity.ImageViewActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name="com.tuisongbao.engine.demo.chat.media.ChatCameraActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name="com.tuisongbao.engine.demo.chat.media.ChatVideoPlayerActivity"
            android:label="@string/app_name" >
        </activity>

        <service
            android:name="com.tuisongbao.engine.demo.chat.service.TSBMessageRevieveService" >
        </service>
    </application>

</manifest>
